@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p><a href="/CapitalCities/CapitalCityDisplayList/">CapitalCityDisplayList</a> (lista completa, tarda unos minutos)</p>
<p><a href="/CapitalCities/CapitalCitySearch/">CapitalCitySearch</a> (este es el que buscas)</p>